/* layout */
@import url("layouts/flex.css");
/* widget */
@import url("widgets/card.css");
/* theme */
@import url("themes/theme.css");
/* tools */
@import url("tools/size.css");
/* global style */
a {
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
