.theme [theme="green"] {
    background-color: #96E6A1;
    color: white;
}
.theme [theme="blue"] {
    background-color: #8FD3F4;
    color: white;
}
.theme [theme="red"] {
    background-color: #FDA085;
    color: white;
}
.theme [theme="orange"] {
    background-color: #F6D365;
    color: white;
}
.theme [theme="dark"] {
    background-color: #555555;
    color: white;
}
