.theme .green{
    background-color: #96E6A1;
    color: white;
}
.theme .blue{
    background-color: #8FD3F4;
    color: white;
}
.theme .red{
    background-color: #FDA085;
    color: white;
}
.theme .orange{
    background-color: #F6D365;
    color: white;
}
