.card {
    width: 25em;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 8px 0 rgba(0,0,0,0.15);
    text-align: center;
    float: inherit;
    margin: 1em;
}
.card .header {
    padding: 0.5em;
    font-size: 40px;
}
.card .container {
    padding: 1em;
    float: inherit;
}
