.layout [layout="flex"] {
    display: flex;
    /* default main axis */
    flex-direction: row;
    /* ----------------- */
    /* default axis main */
    justify-content: flex-start;
    /* ----------------- */
    /* default axis cross */
    align-content: flex-start;
    /* ------------------ */
    /* default items */
    align-items: flex-start;
    /* ------------ */
    /* container size */
    width: 100%;
    height: 100%;
    /* -------------- */
    /* item wrap */
    flex-wrap: wrap;
    /* --------- */
    /* max */
    flex-grow: 1;
    /* min */
    flex-shrink: 1;
    /* basis */
    flex-basis: auto;
    /* overflow */
    overflow: auto;
}

/* main-axis */
.layout [layout="flex"][axis="row"] {
    flex-direction: row;
}
.layout [layout="flex"][axis="col"] {
    flex-direction: column;
}
.layout [layout="flex"][axis="row-rev"] {
    flex-direction: row-reverse;
}
.layout [layout="flex"][axis="col-rev"] {
    flex-direction: column-reverse;
}

/* axis-main */
.layout [layout="flex"][axis-main="start"] {
    justify-content: flex-start;
}
.layout [layout="flex"][axis-main="center"] {
    justify-content: center;
}
.layout [layout="flex"][axis-main="end"] {
    justify-content: flex-end;
}
.layout [layout="flex"][axis-main="between"] {
    justify-content: space-between;
}
.layout [layout="flex"][axis-main="around"] {
    justify-content: space-around;
}

/* axis-cross */
.layout [layout="flex"][axis-cross="start"] {
    align-content: flex-start;
}
.layout [layout="flex"][axis-cross="center"] {
    align-content: center;
}
.layout [layout="flex"][axis-cross="end"] {
    align-content: flex-end;
}
.layout [layout="flex"][axis-cross="between"] {
    align-content: space-between;
}
.layout [layout="flex"][axis-cross="around"] {
    align-content: space-around;
}

/* axis-item */
.layout [layout="flex"][axis-item="start"] {
    align-items: flex-start;
}
.layout [layout="flex"][axis-item="center"] {
    align-items: center;
}
.layout [layout="flex"][axis-item="end"] {
    align-items: flex-end;
}
.layout [layout="flex"][axis-item="baseline"] {
    align-items: baseline;
}
.layout [layout="flex"][axis-item="stretch"] {
    align-items: stretch;
}
/* item-self */

/* item-warp */
.layout [layout="flex"][item-wrap="wrap"] {
    flex-wrap: wrap;
}
.layout [layout="flex"][item-wrap="nowrap"] {
    flex-wrap: nowrap;
}
.layout [layout="flex"][item-wrap="wrap-rev"] {
    flex-grow: wrap-reverse;
}

/* max */
.layout [layout="flex"][max="0"] { flex-grow: 0; }
.layout [layout="flex"][max="1"] { flex-grow: 1; }
.layout [layout="flex"][max="2"] { flex-grow: 2; }
.layout [layout="flex"][max="3"] { flex-grow: 3; }
.layout [layout="flex"][max="4"] { flex-grow: 4; }
.layout [layout="flex"][max="5"] { flex-grow: 5; }
.layout [layout="flex"][max="6"] { flex-grow: 6; }
.layout [layout="flex"][max="7"] { flex-grow: 7; }
.layout [layout="flex"][max="8"] { flex-grow: 8; }
.layout [layout="flex"][max="9"] { flex-grow: 9; }

/* min */
.layout [layout="flex"][min="0"] { flex-shrink: 0; }
.layout [layout="flex"][min="1"] { flex-shrink: 1; }
.layout [layout="flex"][min="2"] { flex-shrink: 2; }
.layout [layout="flex"][min="3"] { flex-shrink: 3; }
.layout [layout="flex"][min="4"] { flex-shrink: 4; }
.layout [layout="flex"][min="5"] { flex-shrink: 5; }
.layout [layout="flex"][min="6"] { flex-shrink: 6; }
.layout [layout="flex"][min="7"] { flex-shrink: 7; }
.layout [layout="flex"][min="8"] { flex-shrink: 8; }
.layout [layout="flex"][min="9"] { flex-shrink: 9; }

/* basis */
.layout [layout="flex"][basis="auto"] { flex-basis: auto; }
.layout [layout="flex"][basis="10"]   { flex-basis: 10%; }
.layout [layout="flex"][basis="20"]   { flex-basis: 20%; }
.layout [layout="flex"][basis="30"]   { flex-basis: 30%; }
.layout [layout="flex"][basis="40"]   { flex-basis: 40%; }
.layout [layout="flex"][basis="50"]   { flex-basis: 50%; }
.layout [layout="flex"][basis="60"]   { flex-basis: 60%; }
.layout [layout="flex"][basis="70"]   { flex-basis: 70%; }
.layout [layout="flex"][basis="80"]   { flex-basis: 80%; }
.layout [layout="flex"][basis="90"]   { flex-basis: 90%; }
.layout [layout="flex"][basis="100"]  { flex-basis: 100%; }
